@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

/* You can add global styles to this file, and also import other style files */
body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(20, 20, 20);
}

p {
  margin: 0 !important;
  padding: 0 !important;
}

.darken-hover:hover {
  cursor: pointer;
  filter: brightness(90%);
  background-color: inherit;
  transition: 150ms ease-out;
}