<div class="create-post-page-container">
  <div class="left-side">
    <mat-tab-group #CreatePostTabs>
      <!-- NOTE: Index one -->
      <mat-tab label="Post">
        <form class="create-post-options" [formGroup]="createPostForm" (ngSubmit)="submitPost()">
          <mat-form-field appearance="fill" class="user-management-form">
            <mat-label>Title</mat-label>
            <input matInput autocomplete="off" type="text" [(ngModel)]="titleValue" formControlName="title" />
            <mat-error *ngIf="createPostForm.get('title')?.hasError('required')">
              Title is required
            </mat-error>
          </mat-form-field>

          <app-quill-editor [quillText]="contentValue" class="quill-editor-text-area"></app-quill-editor>
        </form>
      </mat-tab>

      <!-- NOTE: Index two -->
      <mat-tab label="Image & Video">
        <form class="create-post-options" [formGroup]="createPostForm" (ngSubmit)="submitPost()">
          <mat-form-field appearance="fill" class="user-management-form">
            <mat-label>Title</mat-label>
            <input matInput autocomplete="off" type="text" [(ngModel)]="titleValue" formControlName="title" />
            <mat-error *ngIf="createPostForm.get('title')?.hasError('required')">
              Title is required
            </mat-error>
          </mat-form-field>
        </form>
      </mat-tab>

      <!-- NOTE: Index three -->
      <mat-tab label="Link">
        <form class="create-post-options" [formGroup]="createPostForm" (ngSubmit)="submitPost()">
          <mat-form-field appearance="fill" class="user-management-form">
            <mat-label>Title</mat-label>
            <input matInput autocomplete="off" type="text" [(ngModel)]="titleValue" formControlName="title" />
            <mat-error *ngIf="createPostForm.get('title')?.hasError('required')">
              Title is required
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" class="user-management-form">
            <mat-label>URL</mat-label>
            <input matInput autocomplete="off" type="text" formControlName="mediaFromUrl" />
            <mat-error *ngIf="createPostForm.get('mediaFromUrl')?.hasError('required')">
              URL is required
            </mat-error>
          </mat-form-field>
        </form>
      </mat-tab>

      <!-- NOTE: Index four -->
      <mat-tab label="Poll">
        <form class="create-post-options" [formGroup]="createPostForm" (ngSubmit)="submitPost()">
          <mat-form-field appearance="fill" class="user-management-form">
            <mat-label>Title</mat-label>
            <input matInput autocomplete="off" type="text" [(ngModel)]="titleValue" formControlName="title" />
            <mat-error *ngIf="createPostForm.get('title')?.hasError('required')">
              Title is required
            </mat-error>
          </mat-form-field>
        </form>
      </mat-tab>
    </mat-tab-group>

    <mat-chip-listbox aria-label="Content type">
      <mat-chip-option>OC</mat-chip-option>
      <mat-chip-option>Spoiler</mat-chip-option>
      <mat-chip-option>NSFW</mat-chip-option>
      <mat-chip-option>Flair</mat-chip-option>
    </mat-chip-listbox>
  </div>

  <div class="right-side">
    <div class="side-panel">
      <div>side-panel works!</div>
    </div>
  </div>
</div>
